.scores {
    display: none;
}

.game-start {
    display: none;
}

html {
    height: 100%;
}

h1 {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    mix-blend-mode: difference;
}

.div {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-1000;
}

#countdown {
    color: white;
    font-size: 10em;
    position: fixed;
    top: 50%;
    left: 50%;
  
}

#countdown-screen {
    background: rgba(0,0,0,.3);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}


/* .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: 0;

    will-change: transform, opacity;

    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  
    -webkit-transition:
      -webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
      opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  
    transition:
      transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
      opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal.visible {
pointer-events: auto;
opacity: 1;
} */

/* #match {
    };

#input {
    height: 300px;
    width: 300px;
}; */

/* 
body {
    background: linear-gradient(#c8daf7, #f9e0e9);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    text-align: center;
} */