.scores {
    display: none;
}

.game-start {
    display: none;
}

html {
    height: 100%;
}

h1 {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    mix-blend-mode: difference;
}

.div {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-1000;
}

#countdown {
    color: white;
    font-size: 10em;
    position: fixed;
    top: 50%;
    left: 50%;
  
}

#countdown-screen {
    background: rgba(0,0,0,.3);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}



[data-scrub-orientation="Horizontal"]{
    cursor: col-resize;
  }
/* SCRUBBER ELEMENTS




.slider {
      position: absolute;
      left: 50%;
      margin-left: -101px;
      top: 10px;
      opacity: 0;
      cursor: e-resize !important;
    }

.inputNumber {
    position: relative;
    margin-bottom: 20px;
    width: 200px;
    height: 35px;
    padding: 3px 6px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    cursor: e-resize !important;
}

.ui-slider {
    height: 40px !important;
    top: 0px !important;
    border-radius: 5px !important;
    cursor: e-resize !important;
    }
    
.ui-slider-handle {
    background: red !important;
    height: 40px !important;
    top: -1px !important;
    outline: none !important;
    cursor: e-resize !important;
}
#red {
    border: 2px solid #333;
    background: #222;
    color: #fff;
}
     */